body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: gainsboro;
}

.grid-container {
  display: grid;
  width: 75vh;
  height: 75vh;
  background-color: black;
  border: 30px groove red;
  border-radius: 10px;
  grid-gap: 1px;
}

.div-grid {
  background-color: white;
}

.hover {
  background-color: black;
}

.clearBtnContainer {
  padding-top: 30px;
}
